[submodule "nvim"]
	path = nvim
	url = https://github.com/ssssed/neovim.git
	branch = v3
[submodule "kitty/kitty-themes"]
	path = kitty/kitty-themes
	url = https://github.com/dexpota/kitty-themes.git
